<label for="jenis_relasi">Hubungan</label>
<select class=" form-group form-control" id="jenis_relasi"  name="jenis_relasi">
    <% for(var i=0; i < jenis_relasi.length; i++) { %>
        <option value= <%= jenis_relasi[i].id %> > <%= jenis_relasi[i].jenis_relasi %></option>
    <% } %>
</select>

<div style="display:
    <% if (method==="edit") { %> 
        none;
    <% } %>
    <label for="jenis_relasi">Nama Anggota Keluarga</label>
        <select class=" form-group form-control" id="identitas_2"  name="identitas_2">
            <% for(var i=0; i < identitas.length; i++) { %>
                <option value= <%= identitas[i].id %> > <%= identitas[i].nama %></option>
            <% } %>
        </select>
</div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>

<a href="/aset/new" class="btn btn-primary">Tambah Aset Anggota Kelurga</a>


