<div class="form-group">
    <label for="nama_aset">Aset</label>
    <input  type="text" name="nama_aset" id="nama_aset" class="form-control" required>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>